
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 17% 4%;
    --foreground: 30 5% 95%;
    --card: 30 17% 6%;
    --card-foreground: 30 5% 95%;
    --popover: 30 17% 6%;
    --popover-foreground: 30 5% 95%;
    --primary: 31 95% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 10% 12%;
    --secondary-foreground: 30 5% 95%;
    --muted: 30 10% 12%;
    --muted-foreground: 30 5% 60%;
    --accent: 31 95% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 9 82% 42%;
    --destructive-foreground: 30 5% 95%;
    --border: 30 10% 15%;
    --input: 30 10% 15%;
    --ring: 31 95% 54%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body {
    @apply bg-zinc-950 text-white;
    font-feature-settings: "rlig" 1, "calt" 1;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
  }
}
